.flat {
  box-shadow: 17px 17px 34px #222222, -17px -17px 34px #3b3b3bcc;
}

.concave {
  background: linear-gradient(145deg, #303031, #39393a);
  box-shadow: 20px 20px 40px #222222, -20px -20px 40px #3b3b3bcc;
}

.convex {
  /* border-radius: 50px; */
  /* background: linear-gradient(145deg, #29292a, #303031); */
  box-shadow: 10px 10px 18px #1f1f1fee, -8px -6px 18px #3d3d3ecc;
}

.pressed {
  /* background: linear-gradient(145deg, #303031, #39393a); */
  box-shadow: inset 10px 10px 13px #222222, inset -5px -5px 10px #3b3b3bcc;
}

.pressed2 {
  /* background: linear-gradient(145deg, #303031, #39393a); */
  box-shadow: inset 20px 20px 40px #202020, inset -20px -20px 40px #3f3f3fbb;
}